body {
    background-color: lightblue;
    color: red;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px gray;
}
button {
    background: yellow;
    border: 3px solid black;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
#guess-game {
    border: 2px dashed red;
    padding: 20px;
    margin-top: 20px;
    background-color: lightgreen;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#user-guess-input {
    font-size: 18px;
    padding: 10px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}
/* polish margins */